 html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {

    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    font-family: 'ZCOOL QingKe HuangYou', cursive;
}
body{
    /*display: inline-block;*/
    width: 1024px;
    margin: 0 auto;
}
#wrap{
    margin: 0 auto;
}
/****************************************************************/
/*헤드 부분 */
header{
    background-color: black;
    height: 250px;
}
/*포트폴리오 로고*/
#logo{
    font-size: 130px;
    color: aliceblue;
    font-family: 'ZCOOL QingKe HuangYou', cursive;
    margin-left: 30px;
}
/*로고 하위 설명*/
header>p{
    opacity: 0.4;
    margin-top: 30px;
    font-size: 30px;
    color: darkgrey;
    font-family: 'ZCOOL QingKe HuangYou', cursive;
    margin-left: 43px;
}
/****************************************************************/
        /*메뉴 부분*/
        nav{
            width: 1008px;
             border:9px solid black;
             
        }
        /*메뉴 목록*/
        nav>ul{
              list-style-type: none;
              margin: 0;
              padding: 0;
              overflow: hidden;
              background-color: #333;
        }
        /*메뉴 목록 개체*/
        li{
            border-left: -1px solid black;
            border-right: -1px solid black;
            float:left;
            width: 20%;
        }
        /*메뉴 내부 a태그*/
        li a{
            font-size: 25px;
            display: block;
            color: white;
            text-align: center;
            padding: 18px 16px;
            text-decoration: none;
        }
        /*메뉴 내부 a태그 hover시*/
        li a:hover {
            background-color: #111;
        }
        /*메뉴 고정*/
        .jbFixed {
           width: 1008px;
            position: fixed;
            top: 0px;
      }
/****************************************************************/
        /*인트로 부분*/
        .intro{
            border: 2px solid black;
            background-color: rgba(192,192,192,0.3);
        }
        #intro{
            font-size: 80px;
            height: 80px;
            margin-left: 30px;
            margin-bottom: 10px;
        }
        #introwrap{
            padding: 20px;
             display: inline-block;
            width: 480px;
            height: 380px;
            word-spacing: 5px;
            vertical-align: top;
        }
        #introimg{
            margin-top: 20px;
             display: inline-block;
            width:480px;
            height: 400px;
             vertical-align: top;
        }
        #faceimg{
            display: inline-block;
            padding: 10px;
            width: 35%;
            height: 42%;
        }
        #profile{
            vertical-align: top;
            display: inline-block;
              padding: 10px;
            width: 47%;
            height: 90%;
        }
        #profile > h2{
            font-size: 40px;
            padding: 20px;
            text-align: left;
        }
        #selfintro{
            margin-left: 40px;
            font-size: 25px;
        }
/****************************************************************/
         .skill{
            background-color: rgba(192,192,192,0.3);
            padding: 15px;
             border: 2px solid black;
        }
        #skill{
            padding: 30px;
             font-size: 80px;
        }
        #skilltap{
             display: inline-block; 
            width: 27%;
            height: 340px;
        }
        #skilltap > button{
            width: 100%;
            height: 25%;
            font-size: 30px;
            font-family: 'ZCOOL QingKe HuangYou', cursive;
            color: aliceblue;
            background-color: #333;
        }
        #skilltap > button:hover {
            background-color: #111;
        }
        .content{
            background-color:white;
            padding: 20px;
            border: 2px solid black;
            display: none; 
            width:66%;
            height: 300px;
            vertical-align: top;
        }
        #web{
            display: inline-block;
        }
        #inf{
            word-spacing: 5px;
            display: inline-block;
            width: 40%;
            height: 100%;
            margin-right:26px;
        }
        #confidant{
            vertical-align: top;
            word-spacing: 5px;
            display: inline-block;
            width: 55%;
            height: 100%;
        }
        #myongji{
             margin-right:28px;
            vertical-align: top;
            display: inline-block;
            width: 32%;
            height: 90%;
        }
        #ccc{
             vertical-align: top;
            display: inline-block;
            width: 42%;
            height: 90%;
             margin-right:26px;
        }
        #cimg{
            vertical-align: top;
            word-spacing: 5px;
            display: inline-block;
            width: 50%;
            height: 90%;
            padding: 10px;
        }
/****************************************************************/
        #workwrap{
             background-color: rgba(192,192,192,0.3);
            padding: 15px;
             border: 2px solid black;
        }
         #work{
            font-size: 80px;
            padding: 15px;
        }
        #javaR{
            height: 350px;
            width: 500px;
            font-size: 25px;
            padding: 20px;
        }
        #unity{
             height: 350px;
            width: 500px;
            font-size: 25px;
            padding: 20px;
        }
/****************************************************************/
         #careerwrap{
             background-color: rgba(192,192,192,0.3);
            padding: 15px;
             border: 2px solid black;
        }
        #career{
            font-size: 80px;
            padding: 15px;
        }  
